<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>List of books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:attr="data-step=${step}" id="book-step"></div>
<div th:attr="data-current=${page}" id="book-current"></div>
<div th:attr="data-total=${total}" id="book-page"></div>

<h3>Books:</h3>

<a id="prev_l" href="javascript:request_prev ();">previous</a>
<span>|</span>
<h>Page:</h>
<h id="page_number">[[${page}]]</h>
<span>|</span>
<a id="next_l" href="javascript:request_next ();">next</a>
<span>|</span>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Actions</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<span>|</span>
<a th:href="@{/book/(id=0)}" href="book_edit.html">add book</a>
<span>|</span>
<a th:href="@{/books/}" href="book_list.html">books</a>
<span>|</span>
<a href="javascript:generate (100);">generate books</a>
<span>|</span>
<a th:href="@{/author/(id=0)}" href="author_edit.html">add author</a>
<span>|</span>
<a th:href="@{/authors/}" href="author_list.html">authors</a>
<span>|</span>
<a th:href="@{/genres/}" href="genre_list.html">genres</a>
<span>|</span>

<script>
    $(function () {
        request_books (document.getElementById('book-current').dataset.current);
    });
    var request_prev = function (){
        request_books (parseInt (document.getElementById('book-current').dataset.current) - 1);
    }
    var request_next = function (){
        request_books (parseInt (document.getElementById('book-current').dataset.current) + 1);
    }
    var request_books = function (page){
        var step = parseInt (document.getElementById('book-step').dataset.step);
        $.get('/api/books?page='+page+'&step=10').done(function (books) {
            document.getElementById('book-current').dataset.current = page;
            var max = parseInt (document.getElementById('book-page').dataset.total);
            max = Math.floor(max / step) + (max % step > 0 ? 1 : 0) - 1;
            document.getElementById('prev_l').style.visibility = page > 0 ? "visible" : "hidden";
            document.getElementById('next_l').style.visibility = page < max ? "visible" : "hidden";
            document.getElementById('page_number').innerHTML = ""+(parseInt (page)+1);

            $('tbody').html ('');
            books.forEach(function (book) {
                $('tbody').append(`
                    <tr id='c_${book.id}'>
                        <td>${book.id}</td>
                        <td>${book.title}</td>
                        <td>${book.author.name}</td>
                        <td>${book.genre.name}</td>
                        <td>
                            <a href="/book/?id=${book.id}">edit</a>
                            <span>|</span>
                            <a href="javascript:delete_book(${book.id}, '${book.title}');">del</a>
                        </td>
                        <td>
                            <a href="/comments_book/?book=${book.id}">view</a>
                        </td>
                    </tr>
                `)
            });
        })

    };

    var generate = function (count)
    {
            $.ajax({
                    type: "PATCH",
                    url: "/api/books_generate/?count="+count,
                    success: function(data)
                    {
                        alert ("Generated " + count + " books");
                        var max = parseInt (document.getElementById("book-page").dataset.total);
                        max += count;
                        document.getElementById("book-page").dataset.total = max;
                        request_books (0);
                    },
                    error: function(da, textStatus, ta){
                        alert("Error with generate books");
                    }
            });
    }


    var delete_book = function (id, title)
    {
        if (window.confirm("Do you really want to remove book '" + title + "' ?")) {
            $.ajax({
                    type: "DELETE",
                    url: "/api/book_remove/",
                    data: "id="+id,
                    success: function(data)
                    {
                        $("#c_"+id).replaceWith("");
                    },
                    error: function(da, textStatus, ta){
                        alert("Error with delete book '" + title + "'" );
                    }
            });
        }
    }

</script>

</body>
</html>
